body {
  background-color: #0e1415;
  color: rgba(255, 255, 255, 0.837);
  padding: 1rem;
}

.code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.code-container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

pre {
  white-space: pre-wrap;
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

ol {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1536px) {
  #four-one {
    width: 85rem;
  }
}

@media only screen and (max-width: 1280px) {
    #four-one {
      width: 73rem;
    }
  }
  

@media only screen and (max-width: 1024px) {
  .code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #two-four {
    width: 60rem;
  }

  #four-one {
    width: 55rem;
  }
}

@media only screen and (max-width: 768px) {
  .code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #two-four {
    width: 45rem;
  }

  #four-one {
    width: 40rem;
  }
  
  pre {
    white-space: pre-wrap;
    font-size: 1rem;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  ol {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #two-two {
    width: 35rem;
  }

  #two-three {
    width: 35rem;
  }

  #two-four {
    width: 35rem;
  }

  #three-three {
    width: 35rem;
  }

  #four-one {
    width: 33rem;
  }

  #four-two {
    width: 35rem;
  }
}
